#searchbox {
    float: left;
    width: 75%;
}

#contentBox {
    float: left;
    background: white;
    width: 75%;
    height: 90vh;
    overflow-y:scroll;
}

#histogramBox {
    float: right;
    background: white;
    width: 25%;
    height: 90vh;
    overflow-y:scroll;
}